@use "../abstracts/variables" as *;
.HeroContent {
  margin-top: 325px;
  .imgageProfile {
    position: relative;
    width: 504px;
    height: 504px;
    border-radius: 50%;
    margin: 0 auto;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-gradient-purple;
      border-radius: 50%;
      z-index: 1;
      filter: blur(119.52px);
    }
    img {
      -webkit-mask-image: radial-gradient(circle, black 60%, transparent 100%);
      mask-image: radial-gradient(circle, black 60%, transparent 100%);
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 4;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
