@use "../abstracts/variables" as *;
.HeroFoterSection {
  margin-bottom: 20px;
  margin-top: 20px;
  .listContent {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 50px;
      margin: 0 30px;
      li {
        a {
          color: #ffffff;
          background-color: $color-glass-bg;
          font-size: 16px;
          display: flex;
          gap: 16px;
          padding: 15px 36px;
          border-radius: 30px;
          backdrop-filter: blur(10px);
          box-shadow: inset rgba(253, 253, 253, 0.075) 0px -2px 0px -1px;
          cursor: pointer;
        }
        img {
          width: 19px;
        }
      }
    }
  }
}
