.skillsSections {
  margin-top: 100px;

  .skills-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: linear-gradient(
      90deg,
      rgba(95, 16, 219, 0) 0%,
      rgba(95, 16, 219, 0.4) 42%,
      rgba(95, 16, 219, 0.4) 58%,
      rgba(95, 16, 219, 0) 100%
    );

    .skills-title {
      color: #fff;
      font-size: 32px;
      text-align: center;
    }
  }
  .tools {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    .box {
      width: auto;
      display: flex;
      flex-direction: column;
      gap: clamp(20px, 3cqw, 45px);
      .name {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: clamp(10px, 2cqw, 20px);
        p {
          font-size: clamp(22px, 5cqw, 37.868px);
          line-height: 45.829px;
          color: rgba(255, 255, 255, 1);
        }
        img {
          width: clamp(23.13px, 4vw, 49px);
          color: rgba(255, 255, 255, 1);
        }
      }
      ul {
        background-color: #030303;
        padding: 10px;
        li {
          display: flex;
          gap: clamp(5px, 4cqw, 20px);
          padding-top: clamp(10px, 4cqw, 54px);
          padding-bottom: clamp(10px, 4cqw, 54px);
          padding-left: clamp(10px, 4cqw, 51px);
          padding-right: clamp(10px, 4cqw, 51px);
          @media (max-width: 840px) {
            padding-left: 0;
            padding-right: 0;
          }
          justify-content: left;
          align-items: center;
          font-size: clamp(15px, 4cqw, 35px);
          font-family: "spartan";
          color: #ffffff;
          position: relative;
          &:not(:last-child)::after {
            content: "";
            position: absolute;
            width: 90%;
            background-color: #202020;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
          }
          img {
            width: clamp(16px, 4vw, 52px);
          }
        }
      }
    }
    .part1 {
      display: flex;
      flex-direction: column;
      gap: clamp(5px, 4vw, 120px);
    }
    .part2 {
      margin-top: 150px;
      display: flex;
      flex-direction: column;
      gap: clamp(5px, 4vw, 120px);
    }
  }
}
