
// Brand / Primary
$color-primary-purple: #5F10DB;             

// Backgrounds
$color-bg-dark: #030303;                     
$color-card-glass-bg: rgba(40, 40, 40, 0.14); 
$color-overlay-light: rgba(0, 0, 0, 0.2);     
$color-overlay-strong: rgba(0, 0, 0, 0.8);
  

// Text
$color-white: #FFFFFF;                        
$color-text-secondary: rgba(255, 255, 255, 0.6); 
$color-text-muted: #7E7E7E;                  

// Dividers / Lines
$color-divider: #202020;                     

// Glassmorphism / UI surfaces
$color-glass-bg: rgba(96, 96, 96, 0.13);          
$color-glass-bg-active: rgba(255, 255, 255, 0.17); 
$color-glass-bg-soft: rgba(255, 255, 255, 0.13);   
$color-glass-border: rgba(171, 171, 171, 0.32);    
$color-input-border: #08030A;                     

// Gradients
$color-gradient-purple-transparent: rgba(95, 16, 219, 0);  
$color-gradient-purple-mid: rgba(95, 16, 219, 0.53);       
$color-gradient-purple:rgba(95,16,219);
$color-gradient-metal-edge: #797979;