.curved-loop-jacket {
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: clamp(60px, 20vw, 200px);
  margin-bottom: clamp(-150px, -12vw, -150px);
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: clamp(5rem, 8vw, 6rem);
  fill: #ffffff;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

@media (max-width: 768px) {
  .curved-loop-jacket {
    margin-top: 40px;
    margin-bottom: -5px;
  }
}
