.headerSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
  padding-top: 42px;
}
.headerSection .linkedFile,
.headerSection .CVFile {
  color: #ffffff;
  background-color: rgba(96, 96, 96, 0.13);
  font-size: 16px;
  display: flex;
  gap: 16px;
  padding: 5px 36px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  box-shadow: inset rgba(253, 253, 253, 0.075) 0px -2px 0px -1px;
  cursor: pointer;
}
.headerSection .linkedFile img,
.headerSection .CVFile img {
  width: 19px;
}
.headerSection .listUl {
  list-style: none;
  color: #ffffff;
  background-color: rgba(96, 96, 96, 0.13);
  display: flex;
  gap: 10px;
  height: 72px;
  align-items: center;
  border-radius: 45px;
  padding: 0;
  box-shadow: inset rgba(253, 253, 253, 0.075) 0px -2px 0px -1px;
}
.headerSection .listUl li {
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 45px;
}
.headerSection .listUl .activeBackground {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 45px;
  z-index: 0;
}
.headerSection .listUl .liText {
  position: relative;
  z-index: 1;
}

.Gradient {
  margin-top: 200px;
  position: relative;
  width: 100%;
  height: 512px;
  overflow: hidden;
}
.Gradient .GradientBlindsSection {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 60%;
}
.Gradient .detailsSection {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.Gradient .detailsSection .content {
  background-color: rgba(40, 40, 40, 0.14);
  display: flex;
  align-items: center;
  padding: 80px 170px 80px 170px;
  height: 332px;
  width: 1566px;
  justify-content: space-between;
}
.Gradient .detailsSection .content .gradient-text {
  background: linear-gradient(180deg, #ffffff 0%, #d6c8ff 50%, #9b87f0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.skillsSections {
  margin-top: 100px;
}
.skillsSections .skills-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(90deg, rgba(95, 16, 219, 0) 0%, rgba(95, 16, 219, 0.4) 42%, rgba(95, 16, 219, 0.4) 58%, rgba(95, 16, 219, 0) 100%);
}
.skillsSections .skills-header .skills-title {
  color: #fff;
  font-size: 32px;
  text-align: center;
}
.skillsSections .tools {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.skillsSections .tools .box {
  width: 590px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.skillsSections .tools .box .name {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.skillsSections .tools .box .name p {
  font-size: 37.868px;
  line-height: 45.829px;
  color: rgb(255, 255, 255);
}
.skillsSections .tools .box .name img {
  color: rgb(255, 255, 255);
}
.skillsSections .tools .box ul {
  background-color: #030303;
  padding: 10px;
}
.skillsSections .tools .box ul li {
  display: flex;
  gap: 20px;
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 51px;
  padding-right: 51px;
  justify-content: left;
  align-items: center;
  font-size: 35px;
  font-family: "spartan";
  color: #ffffff;
  position: relative;
}
.skillsSections .tools .box ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 90%;
  background-color: #202020;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
.skillsSections .tools .box ul li img {
  width: 52px;
}
.skillsSections .tools .part1 {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.skillsSections .tools .part2 {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.HeroContent {
  margin-top: 325px;
}
.HeroContent .imgageProfile {
  position: relative;
  width: 504px;
  height: 504px;
  border-radius: 50%;
  margin: 0 auto;
}
.HeroContent .imgageProfile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(95, 16, 219);
  border-radius: 50%;
  z-index: 1;
  filter: blur(119.52px);
}
.HeroContent .imgageProfile img {
  -webkit-mask-image: radial-gradient(circle, black 60%, transparent 100%);
  mask-image: radial-gradient(circle, black 60%, transparent 100%);
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 4;
  border-radius: 50%;
  overflow: hidden;
}

.IdentificationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 100px;
}
.IdentificationSection .greeting {
  font-size: 61px;
  font-weight: 600;
  color: #ffffff;
}
.IdentificationSection .me .hi {
  font-size: 37.37px;
  color: #ffffff;
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 19px 26px;
  margin: 0;
}
.IdentificationSection .me .name {
  margin: 0;
  color: #ffffff;
  font-size: 37.37px;
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 19px 26px;
}
.IdentificationSection .design {
  font-size: 30.9px;
  color: rgba(255, 255, 255, 0.5568627451);
  font-family: "Spartan", sans-serif;
  font-weight: 100;
  margin-bottom: 25px;
  position: relative;
}
.IdentificationSection .design::after {
  content: "";
  position: absolute;
  height: 26.58px;
  width: 0.92px;
  background-color: rgba(255, 255, 255, 0.6);
  bottom: -25px;
  left: 5px;
}
.IdentificationSection .programmer {
  font-size: 30.9px;
  color: rgba(255, 255, 255, 0.5568627451);
  font-family: "Spartan", sans-serif;
  font-weight: 100;
  margin-bottom: 25px;
}

.HeroSection {
  display: flex;
  flex-direction: column;
  gap: 350px;
}
.HeroSection .HeroSmoke {
  position: absolute;
  width: 100%;
  max-width: none;
  height: auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -1;
  display: block;
  margin-bottom: -200px;
}

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: black;
}

/*# sourceMappingURL=App.css.map */
